
/***************************** 
 * Single Film Review Template
 *****************************/
#thumbnail_single_post {
    float: right;
    margin: 10px;
}
.tweeter_feed{
    width: 100%;
    position: relative;
    margin-top: 5%;
}